$color-grey-light-1: rgb(204, 204, 204);

$color-yellow-light-1: rgb(255, 185, 0);
$color-orange-light-1: rgb(255, 140, 0);

// FONT
$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;    //  1200 px
$bp-large: 62.5em;    //  1000px
$bp-med: 50em;        //  800px
$bp-sm: 37.5em;       //  600px
$bp-tiny: 18.75em;    //  300px
